<h1>Songs List</h1>
<ul>
    <% @songs.each do |song| %>
    <div class="song">
      <li><span><%= link_to song.title, song_path(song) %></span>
      <%= link_to "Delete", song, method: :delete, data: { confirm: "Really?" } %></li>
    </div>
    <% end %>
</ul>